**/bin/
**/obj/
**/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.Forpost/.idea/.gitignore
/.idea/.idea.Forpost/.idea/.name
/.idea/.idea.Forpost/.idea/indexLayout.xml
/Forpost.sln.DotSettings.user
/.idea/.idea.Forpost/.idea/vcs.xml
/seq-data/
/.idea/.idea.Forpost/.idea/dataSources.xml
